.artists-item {
  position: relative;

  display: inline-block;
  width: auto;
  min-width: 320px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  text-align: left;

  .artists-item__wrap {
    position: relative;
  }

  .artists-item__descr {
    margin: 0;

    font-size: 13px;
    line-height: 18px;
    color: #000000;
  }

  .artists-item__name {
    margin: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .artists-item__play-link {
    position: absolute;
    z-index: 2;

    width: 33px;
    height: 36px;

    background-size: cover;
  }

  &--ceelo {
    height: 530px;
    margin-bottom: 52px;

    .artists-item__wrap {
      width: 400px;
      height: 530px;
    }

    .artists-item__img {
      &--photo {
        margin-bottom: 25px;
      }

      &--name {
        position: absolute;
        top: 161px;
        left: 112px;
        z-index: 1;
      }
    }

    .artists-item__play-link {
      top: 190px;
      left: 23px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    &::before {
      content: "";
      position: absolute;
      right: 30px;
      bottom: -80px;

      display: none;
      width: 206px;
      height: 206px;

      background-image: url("../img/arrow-turquoise-rounded.svg");
      background-size: cover;
    }

    .artists-item__descr {
      width: 198px;
      margin-left: 20px;
    }
  }

  &--henry {
    height: 356px;
    margin-bottom: 85px;

    .artists-item__wrap {
      display: grid;
      width: 498px;
      height: 356px;
      padding-right: 20px;
      padding-left: 19px;

      grid-gap: 26px;
      grid-template-columns: 204px 226px;
    }

    .artists-item__play-link {
      top: 219px;
      left: 133px;

      background-image: url("../img/icon-play-turquoise.svg");
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -122px;
      left: 99px;
      z-index: 1;

      display: none;
      width: 151px;
      height: 150px;

      background-image: url("../img/arrow-blue.svg");
      background-size: cover;
    }

    .artists-item__name {
      position: absolute;
      top: 289px;
      left: 48px;

      width: 168px;
    }

    .artists-item__descr {
      width: 226px;
      margin-top: 19px;
    }
  }

  &--kamaal {
    margin-bottom: 71px;

    text-align: right;
    direction: rtl;

    picture {
      width: 199px;
      height: 341px;
    }

    .artists-item__wrap {
      display: grid;
      width: 484px;
      height: 339px;
      padding-right: 20px;
      padding-left: 20px;

      direction: rtl;

      grid-gap: 19px;
      grid-template-columns: 226px 199px;
    }

    .artists-item__play-link {
      top: 220px;
      right: 64px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    .artists-item__descr {
      position: relative;

      width: 100%;
      margin-top: 12px;

      text-align: left;

      grid-column: 2 / 3;
      grid-row: 1 / 2;

      &::before {
        content: "";
        position: absolute;
        top: -58px;
        right: -10px;

        width: 47px;
        height: 47px;

        background-image: url("../img/decor-cell-five.svg");
        background-size: cover;
      }
    }

    .artists-item__img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .artists-item__name {
      position: absolute;
      top: 288px;
      right: 81px;

      width: 115px;
    }
  }

  &--secret {
    margin-bottom: 62px;

    .artists-item__wrap {
      display: grid;
      width: 685px;
      height: 340px;
      padding-right: 30px;
      padding-left: 28px;

      grid-gap: 12px;
      grid-template-columns: 210px 472px;
    }

    .artists-item__play-link {
      top: 222px;
      left: 58px;

      background-image: url("../img/icon-play-turquoise.svg");
    }

    .artists-item__name {
      position: absolute;
      top: 297px;
      left: 45px;
    }

    .artists-item__descr {
      width: 472px;
      height: 340px;
      margin-top: 4px;

      columns: 226px 2;
      column-fill: auto;

      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &--mrb {
    .artists-item__wrap {
      display: grid;
      width: 758px;
      height: 295px;
      padding-right: 20px;
      padding-left: 18px;

      grid-gap: 25px;
      grid-template-columns: 262px 470px;
    }

    .artists-item__play-link {
      top: 120px;
      left: 206px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    .artists-item__name {
      position: absolute;
      top: 172px;
      left: 40px;

      width: 170px;
    }

    .artists-item__descr {
      width: 472px;
      margin-top: 6px;

      columns: 223px 2;
      column-fill: auto;

      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

@media (min-width: $desktop-width) {
  .artists-item {
    display: inline-block;
    min-width: 0;
    overflow: visible;

    vertical-align: top;

    .artists-item__descr {
      font-size: 20px;
      line-height: 27px;
    }

    .artists-item__name {
      font-size: 30px;
      line-height: 36px;
    }

    &--ceelo {
      height: auto;
      margin-bottom: 70px;

      grid-column: 1 / 6;
      grid-row: 1 / 2;

      .artists-item__wrap {
        width: 731px;
        height: auto;
      }

      .artists-item__img {
        &--photo {
          margin-bottom: 18px;
        }

        &--name {
          top: 287px;
          left: 349px;
        }
      }

      .artists-item__play-link {
        top: 357px;
        left: 62px;
      }

      &::before {
        right: 30px;
        bottom: -80px;

        display: none;
        width: 206px;
        height: 206px;

        background-image: url("../img/arrow-turquoise-rounded.svg");
      }

      .artists-item__descr {
        position: relative;
        z-index: 2;

        width: 617px;
        margin-left: 33px;
      }
    }

    &--henry {
      position: relative;
      z-index: 2;

      width: 334px;
      height: auto;
      margin: 0;
      margin-top: -280px;

      grid-column: 5 / 6;
      grid-row: 2 / 3;

      .artists-item__wrap {
        display: block;
        width: 334px;
        height: auto;
        padding: 0;
      }

      .artists-item__img {
        margin-bottom: 16px;
      }

      .artists-item__play-link {
        top: 396px;
        left: 183px;
      }

      &::before {
        bottom: -122px;
        left: 99px;

        display: none;
        width: 151px;
        height: 150px;

        background-image: url("../img/arrow-blue.svg");
      }

      .artists-item__name {
        top: 478px;
        left: 45px;

        width: 276px;
      }

      .artists-item__descr {
        width: 276px;
        margin: 0;
        margin-left: 39px;
      }
    }

    &--kamaal {
      width: 332px;
      margin: 0;

      grid-column: 1 / 2;
      grid-row: 2 / 3;

      .artists-item__wrap {
        display: block;
        width: 332px;
        height: auto;
        padding: 0;

        direction: ltr;
      }

      .artists-item__play-link {
        top: 385px;
        right: 113px;
      }

      .artists-item__descr {
        width: 276px;
        margin: 0;
        margin-left: 14px;

        &::before {
          top: -58px;
          right: -10px;

          display: none;
          width: 47px;
          height: 47px;

          background-image: url("../img/decor-cell-five.svg");
        }
      }

      .artists-item__img {
        margin-bottom: 29px;
      }

      .artists-item__name {
        top: 461px;
        right: 94px;

        width: 196px;
      }
    }

    &--secret {
      width: 335px;
      margin: 0;
      margin-top: 262px;

      grid-column: 3 / 4;
      grid-row: 2 / 3;

      .artists-item__img {
        margin-bottom: 17px;
      }

      .artists-item__wrap {
        display: block;
        width: 335px;
        height: auto;
        padding: 0;
      }

      .artists-item__play-link {
        top: 388px;
        left: 98px;
      }

      .artists-item__name {
        top: 472px;
        left: 24px;
      }

      .artists-item__descr {
        width: 315px;
        height: auto;
        margin: 0;
        margin-left: 10px;

        columns: auto;
      }
    }

    &--mrb {
      display: grid;
      justify-content: end;
      width: 521px;
      margin-top: 55px;

      grid-column: 3 / 6;
      grid-row: 3 / 4;
      justify-self: end;

      .artists-item__img {
        margin-bottom: 22px;
      }

      .artists-item__wrap {
        display: block;
        width: 512px;
        height: auto;
        padding: 0;
      }

      .artists-item__play-link {
        top: 269px;
        left: 386px;

        background-image: url("../img/icon-play-yellow.svg");
      }

      .artists-item__name {
        top: 334px;
        left: 39px;

        width: 240px;
      }

      .artists-item__descr {
        width: 496px;
        margin: 0;

        columns: auto;
      }
    }
  }
}
