.artists-item {
  position: relative;

  display: inline-block;
  width: auto;
  min-width: 320px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  text-align: left;

  .artists-item__wrap {
    position: relative;
  }

  .artists-item__descr {
    margin: 0;

    font-size: 13px;
    line-height: 18px;
    color: #000000;
  }

  .artists-item__name {
    margin: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .artists-item__play-link {
    position: absolute;

    width: 33px;
    height: 36px;

    background-size: cover;
  }

  &--ceelo {
    height: 530px;
    margin-bottom: 52px;

    .artists-item__wrap {
      width: 400px;
      height: 530px;
    }

    .artists-item__img {
      &--photo {
        margin-bottom: 25px;
      }

      &--name {
        position: absolute;
        top: 161px;
        left: 112px;
        z-index: 1;
      }
    }

    .artists-item__play-link {
      top: 190px;
      left: 23px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    &::before {
      content: "";
      position: absolute;
      right: 30px;
      bottom: -80px;

      width: 206px;
      height: 206px;

      background-image: url("../img/arrow-turquoise-rounded.svg");
      background-size: cover;
    }

    .artists-item__descr {
      width: 198px;
      margin-left: 20px;
    }
  }

  &--henry {
    height: 356px;
    margin-bottom: 85px;

    .artists-item__wrap {
      display: grid;
      width: 498px;
      height: 356px;
      padding-right: 20px;
      padding-left: 19px;

      grid-gap: 26px;
      grid-template-columns: 204px 226px;
    }

    .artists-item__play-link {
      top: 219px;
      left: 133px;

      background-image: url("../img/icon-play-turquoise.svg");
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -122px;
      left: 99px;
      z-index: 1;

      width: 151px;
      height: 150px;

      background-image: url("../img/arrow-blue.svg");
      background-size: cover;
    }

    .artists-item__name {
      position: absolute;
      top: 289px;
      left: 48px;

      width: 168px;
    }

    .artists-item__descr {
      width: 226px;
      margin-top: 19px;
    }
  }

  &--kamaal {
    margin-bottom: 22px;

    .artists-item__wrap {
      display: grid;
      width: 481px;
      height: 388px;
      padding-right: 18px;
      padding-left: 20px;

      direction: rtl;

      grid-gap: 17px;
      grid-template-columns: 199px 226px;
    }

    .artists-item__play-link {
      top: 220px;
      right: 64px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    .artists-item__descr {
      position: relative;

      width: 226px;
      margin-top: 12px;

      grid-column: 3 / 2;
      grid-row: 2 / 1;

      &::before {
        content: "";
        position: absolute;
        top: -58px;
        right: -10px;

        width: 47px;
        height: 47px;

        background-image: url("../img/decor-cell-five.svg");
        background-size: cover;
      }
    }

    .artists-item__img {
      grid-column: 2 / 1;
      grid-row: 2 / 1;
    }

    .artists-item__name {
      position: absolute;
      top: 288px;
      right: 81px;

      width: 115px;
    }
  }

  &--secret {
    margin-bottom: 62px;

    .artists-item__wrap {
      display: grid;
      width: 685px;
      height: 340px;
      padding-right: 30px;
      padding-left: 28px;

      grid-gap: 12px;
      grid-template-columns: 210px 472px;
    }

    .artists-item__play-link {
      top: 222px;
      left: 58px;

      background-image: url("../img/icon-play-turquoise.svg");
    }

    .artists-item__name {
      position: absolute;
      top: 297px;
      left: 45px;
    }

    .artists-item__descr {
      width: 472px;
      height: 340px;
      margin-top: 4px;

      columns: 226px 2;
      column-fill: auto;

      grid-column: 3 / 2;
      grid-row: 2 / 1;
    }
  }

  &--mrb {
    .artists-item__wrap {
      display: grid;
      width: 758px;
      height: 295px;
      padding-right: 20px;
      padding-left: 18px;

      grid-gap: 25px;
      grid-template-columns: 262px 470px;
    }

    .artists-item__play-link {
      top: 120px;
      left: 206px;

      background-image: url("../img/icon-play-yellow.svg");
    }

    .artists-item__name {
      position: absolute;
      top: 172px;
      left: 40px;

      width: 170px;
    }

    .artists-item__descr {
      width: 472px;
      margin-top: 6px;

      columns: 223px 2;
      column-fill: auto;

      grid-column: 3 / 2;
      grid-row: 2 / 1;
    }
  }
}
