.artists-item {
  position: relative;

  width: 320px;
  overflow-x: scroll;
  overflow-y: hidden;

  &--ceelo {
    height: 530px;
    margin-bottom: 60px;

    .artists-item__wrap {
      width: 400px;
      height: 530px;
    }

    .artists-item__img {
      &--photo {
        margin-bottom: 30px;
      }

      &--name {
        position: absolute;
        top: 161px;
        left: 117px;
        z-index: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 190px;
      left: 23px;

      width: 33px;
      height: 36px;

      background-image: url("../img/icon-play-yellow.svg");
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      right: 30px;
      bottom: -80px;

      width: 206px;
      height: 206px;

      background-image: url("../img/arrow-turquoise-rounded.svg");
      background-size: cover;
    }

    .artists-item__descr {
      width: 200px;
      margin-left: 20px;
    }
  }

  &--henry {
    height: 356px;
    margin-bottom: 90px;
    padding-right: 20px;
    padding-left: 20px;

    .artists-item__wrap {
      display: grid;
      width: 454px;
      height: 356px;

      grid-gap: 28px;
      grid-template-columns: 200px 226px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -122px;
      left: 99px;
      z-index: 1;

      width: 151px;
      height: 150px;

      background-image: url("../img/arrow-blue.svg");
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 217px;
      left: 132px;

      width: 33px;
      height: 36px;

      background-image: url("../img/icon-play-turquoise.svg");
      background-size: cover;
    }

    .artists-item__name {
      position: absolute;
      top: 285px;
      left: 47px;

      width: 168px;
    }

    .artists-item__descr {
      width: 226px;
    }
  }

  &--kamaal {
    margin-bottom: 75px;
    padding-right: 20px;
    padding-left: 20px;

    .artists-item__wrap {
      display: grid;
      width: 442px;
      height: 388px;

      grid-gap: 30px;
      grid-template-columns: 226px 187px;
    }

    .artists-item__descr {
      position: relative;

      width: 226px;

      grid-column: 2 / 1;
      grid-row: 2 / 1;

      &::before {
        content: "";
        position: absolute;
        top: -58px;
        right: -10px;

        width: 47px;
        height: 47px;

        background-image: url("../img/decor-cell-five.svg");
        background-size: cover;
      }
    }

    .artists-item__img {
      grid-column: 3 / 2;
      grid-row: 2 / 1;
    }

    .artists-item__name {
      position: absolute;
      top: 286px;
      right: 84px;

      width: 168px;
    }
  }

  &--secret {
    margin-bottom: 65px;
    padding-right: 30px;
    padding-left: 30px;

    .artists-item__wrap {
      display: grid;
      width: 691px;
      height: 340px;

      grid-gap: 20px;
      grid-template-columns: 208px 472px;
    }

    .artists-item__name {
      position: absolute;
      top: 295px;
      left: 45px;
    }

    .artists-item__descr {
      width: 472px;
      height: 340px;

      columns: 226px 2;
      column-fill: auto;

      grid-column: 3 / 2;
      grid-row: 2 / 1;
    }
  }

  &--mrb {
    padding-right: 20px;
    padding-left: 20px;

    .artists-item__wrap {
      display: grid;
      width: 756px;
      height: 295px;

      grid-gap: 25px;
      grid-template-columns: 260px 470px;
    }

    .artists-item__name {
      position: absolute;
      top: 170px;
      left: 40px;

      width: 170px;
    }

    .artists-item__descr {
      width: 472px;

      columns: 223px 2;
      column-fill: auto;

      grid-column: 3 / 2;
      grid-row: 2 / 1;
    }
  }
}

.artists-item__descr {
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.artists-item__name {
  margin: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}
