.buy-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #0060ff;
}
