.buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;

  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #0060ff;

  &--bottom {
    display: none;
    position: absolute;
    left: 50%;

    margin-top: -2px;

    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .buy-link {
    width: 135px;
    height: 135px;

    font-size: 18px;
    line-height: 25px;
  }
}
