.decor-list {
  @include list-reset;

  display: grid;

  grid-template-columns: 20px repeat(6, 50px);
  grid-template-rows: 50px;
}

@media (min-width: $desktop-width) {
  .decor-list {
    width: 1920px;
    grid-template-columns: repeat(19, 100px);
    grid-template-rows: 100px;
  }
}
