.decor-item {
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-size: cover;

  &--cell-45deg,
  &--hor-lines,
  &--cell-45deg-4,
  &--social,
  &--palm,
  &--pattern {
    display: none;
  }

  &--cell-45deg {
    background-image: url("../img/decor-cell-45deg.svg");
  }

  &--hor-lines {
    background-image: url("../img/decor-hor-lines.svg");
  }

  &--cell-45deg-4 {
    background-image: url("../img/decor-cell-45deg-4.svg");
  }

  &--palm {
    width: 200px;

    background-image: url("../img/decor-palm@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-palm@2x.jpg");
    }
  }

  &--pattern {
    width: 200px;

    background-image: url("../img/decor-pattern@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-pattern@2x.jpg");
    }
  }

  &--cell {
    order: 1;
    width: 20px;
    height: 50px;

    background-image: url("../img/decor-cell-min.svg");

    grid-column: 2 / 1;
  }

  &--armitage {
    position: relative;

    order: 2;

    background-image: url("../img/decor-armitage@1x.png");

    grid-column: 4 / 5;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-armitage@2x.png");
    }

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 1;

      width: 58px;
      height: 57px;

      background-image: url("../img/arrow-orange.svg");
      background-size: cover;
    }
  }

  &--abstraction {
    order: 3;

    background-image: url("../img/decor-abstraction@1x.jpg");

    grid-column: 5 / 6;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-abstraction@2x.jpg");
    }
  }

  &--mcb {
    order: 4;

    background-color: #000000;
    background-image: url("../img/decor-mcb.svg");
    background-position: center center;
    background-size: 34px 28px;

    grid-column: 6 / 7;
  }

  &--vert-lines {
    position: relative;

    order: 5;

    background-color: #ffffff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: 8px;
      height: 33px;

      background-color: #000000;
    }

    &::before {
      left: 12.5px;
    }

    &::after {
      right: 12.5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .decor-item {
    width: 100px;
    height: 100px;

    &--armitage {
      order: 2;

      background-image: url("../img/decor-armitage-tablet@1x.png");

      grid-column: 4 / 5;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-armitage-tablet@2x.png");
      }
    }

    &--abstraction {
      order: 3;

      background-image: url("../img/decor-abstraction-tablet@1x.jpg");

      grid-column: 5 / 6;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-abstraction-tablet@2x.jpg");
      }
    }
  }
}
