.decor-item {
  position: relative;

  background-size: cover;

  &--left {
    width: 20px;

    background-image: url("../img/decor-left-mobile@1x.jpg");

    grid-column: 1 / 2;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-left-mobile@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;

      width: 179px;
      height: 50px;

      background-image: url("../img/decor-left-psevdo-mobile@1x.jpg");
      background-size: cover;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-left-psevdo-mobile@2x.jpg");
      }
    }
  }

  &--right {
    width: 200px;

    background-image: url("../img/decor-right-mobile@1x.jpg");

    grid-column: 3 / 4;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/decor-right-mobile@2x.jpg");
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;

      width: 250px;
      height: 50px;

      background-image: url("../img/decor-right-psevdo-mobile@1x.jpg");
      background-size: cover;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-right-psevdo-mobile@2x.jpg");
      }
    }
  }

  &--social {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .decor-item {
    height: 100px;

    &--left {
      width: 127px;

      background-image: url("../img/decor-left-desk@1x.jpg");

      grid-column: 1 / 2;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-left-desk@2x.jpg");
      }

      &::before {
        width: 964px;
        height: 100px;

        background-image: url("../img/decor-left-psevdo-desk@1x.jpg");

        @media (min-resolution: 1.5dppx) {
          background-image: url("../img/decor-left-psevdo-desk@2x.jpg");
        }
      }
    }

    &--right {
      width: 830px;

      background-image: url("../img/decor-right-desk@1x.jpg");

      grid-column: 3 / 4;

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/decor-right-desk@2x.jpg");
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;

        width: 961px;
        height: 100px;

        background-image: url("../img/decor-right-psevdo-desk@1x.jpg");
        background-size: cover;

        @media (min-resolution: 1.5dppx) {
          background-image: url("../img/decor-right-psevdo-desk@2x.jpg");
        }
      }
    }

    &--social {
      display: grid;
      justify-content: center;
      align-items: center;

      grid-column: 2 / 3;
    }
  }
}
