.decor-list {
  @include list-reset;

  position: relative;

  display: grid;
  width: 320px;

  grid-column: 1 / 4;
  grid-row: 1 / 2;
  grid-template-columns: 20px 100px 200px;
  grid-template-rows: 50px;
}

@media (min-width: $desktop-width) {
  .decor-list {
    width: 1200px;
    grid-template-columns: 127px 200px 830px;
    grid-template-rows: 100px;
  }
}
