.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  color: #ffffff;

  background-color: #000000;
}

@media (min-width: $desktop-width) {
  .logo {
    width: 200px;
    height: 200px;
  }

  .logo__img {
    width: 132px;
    height: 84px;
  }
}
