.page-header {
  position: relative;

  display: grid;
  justify-content: center;
  margin-bottom: 27px;

  grid-template-columns: 20px 100px 200px;
  grid-template-rows: 50px 100px 76px 1fr;

  &::before {
    content: "";
    position: absolute;
    top: -71px;
    left: -239px;
    z-index: -1;

    width: 400px;
    height: 489px;

    background-image: url("../img/palm-1-mobile@1x.png");
    background-size: cover;
    transform: rotate(11deg);

    animation-name: palm;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    animation-fill-mode: backwards;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/palm-1-mobile@2x.png");
    }
  }
}

.page-header__logo {
  position: relative;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 65px;

    width: 55px;
    height: 55px;

    background-image: url("../img/arrow-turquoise-tablet.svg");
    background-size: cover;
  }
}

.page-header__buy-link {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.page-header__menu-btn {
  position: absolute;
  top: 132px;
  right: 180px;

  display: none;
  width: 41px;
  height: 25px;

  background-image: url("../img/icon-hamburger.svg");
  background-size: cover;
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-bottom: 55px;

    grid-template-columns: 127px 200px 830px;
    grid-template-rows: 100px 200px 1fr;
  }

  .page-header__container {
    &::before {
      top: -139px;
      left: -708px;

      width: 1021px;
      height: 1248px;

      background-image: url("../img/palm-1-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/palm-1-tablet@2x.png");
      }
    }
  }

  .page-header__logo {
    &::before {
      top: 161px;
      left: 132px;

      width: 122px;
      height: 121px;
    }
  }

  .page-header__menu-btn {
    display: block;
  }
}
