.page-content {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 96px;
    right: -187px;
    z-index: 1;

    width: 309px;
    height: 354px;

    background-image: url("../img/palm-2-mobile@1x.png");
    background-size: cover;

    animation-name: palm-rev;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    animation-fill-mode: backwards;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/palm-2-mobile@2x.png");
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 245px;
    left: -326px;
    z-index: -1;

    width: 886px;
    height: 1469px;

    background-image: url("../img/palm-3-mobile@1x.png");
    background-size: cover;

    animation-name: palm;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    animation-fill-mode: backwards;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/palm-3-mobile@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-content {
    &::before {
      top: 13px;
      right: 65px;

      width: 699px;
      height: 800px;

      background-image: url("../img/palm-2-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/palm-2-tablet@2x.png");
      }
    }

    &::after {
      bottom: -307px;
      left: -219px;

      width: 1112px;
      height: 1846px;

      background-image: url("../img/palm-4-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/palm-4-tablet@2x.png");
      }
    }
  }

  .page-content__wrap {
    display: grid;
    width: 733px;
    margin: 0 auto;

    grid-gap: 179px;
    grid-template-columns: 320px 234px;
  }
}
