.promo {
  padding-top: 75px;
  padding-right: 15px;
  padding-left: 50px;

  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.promo__date {
  margin: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 19px;
  color: #345eff;
}

.promo__title {
  margin: 0;
  margin-bottom: 11px;

  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.promo__descr {
  position: relative;
  z-index: 1;

  width: 226px;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  color: #202020;

  &::before {
    content: "";
    position: absolute;
    bottom: -81px;
    left: 11px;
    z-index: -1;

    width: 161px;
    height: 162px;

    background-image: url("../img/arrow-pink.svg");
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 521px;
    padding: 0;
    padding-top: 83px;
    padding-left: 187px;

    grid-column: 3 / 4;
    grid-row: 2 / 5;
  }

  .promo__date {
    width: 521px;
    margin-bottom: 11px;

    font-size: 24px;
    line-height: 29px;

    br {
      display: none;
    }
  }

  .promo__title {
    width: 415px;
    margin-bottom: 21px;

    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.13em;
  }

  .promo__descr {
    width: 521px;

    font-size: 18px;
    line-height: 21px;

    &::before {
      bottom: -81px;
      left: 11px;

      width: 161px;
      height: 162px;

      background-image: url("../img/arrow-pink.svg");
    }
  }
}
