.social-list {
  @include list-reset;

  display: grid;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 31px;

  grid-gap: 14px;
  grid-template-columns: repeat(3, 40px);
}

@media (min-width: $desktop-width) {
  .social-list {
    width: auto;
    margin-bottom: 48px;
    margin-left: -17px;

    &--decor {
      margin: 0;
    }
  }
}
