@font-face {
  font-weight: 400;
  font-family: "Borutta Group";
  font-style: normal;

  src: url("../fonts/borutta-group.woff2") format("woff2"), url("../fonts/borutta-group.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Nowie Vremena";
  font-style: normal;

  src: url("../fonts/nowie-vremena-light.woff2") format("woff2"), url("../fonts/nowie-vremena-light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Nowie Vremena";
  font-style: normal;

  src: url("../fonts/nowie-vremena.woff2") format("woff2"), url("../fonts/nowie-vremena.woff") format("woff");
}
