@font-face {
  font-weight: 400;
  font-family: "BoruttaGroup";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/boruttagroup.woff2") format("woff2"), url("../fonts/boruttagroup.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "NowieVremena";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/nowievremenalight.woff2") format("woff2"), url("../fonts/nowievremenalight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "NowieVremena";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/nowievremena.woff2") format("woff2"), url("../fonts/nowievremena.woff") format("woff");
}
